In [3]:
items:list[dict] = [
         {"name":"Apple","price":20},
         {"name":"Banana","price":10},
         {"name":"Cherry","price":30}
         ]
sorted(items,key=lambda x:x['price'],reverse=True)

[{'name': 'Cherry', 'price': 30},
 {'name': 'Apple', 'price': 20},
 {'name': 'Banana', 'price': 10}]

In [ ]:
#拆解法, tuple其一功能是打包
name,age,height,weight = 'rogert',35,180,80
name,age,height,weight

('rogert', 35, 180, 80)

In [8]:
for key,value in {"name":"Apple","price":"20"}.items():
    print(key)
    print(value)
    print("========")

name
Apple
========
price
20
========